body{
    color: blueviolet;
}
h1{
    text-align: center;
    font-size: 38px;
    font-family:'Courier New', Courier, monospace;
    font-style: bold;
    margin: 5px;
    padding:15px;
    border: 1px solid red;

}
